
.col-10{
    padding:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.box
{
    width: auto;
    height:fit-content;
    margin: 50px auto 0;
    padding:30px;
    box-sizing: border-box;
    
    box-shadow: 0 -5px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 30px;
    border-radius: 5px;
    text-align: center;
        
}

button{
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(33, 127, 221);
    color:white;
    border: 1px solid whitesmoke;
}

button:hover{
    background-color:white;
    color:rgb(77, 166, 255);
    border: 1px solid rgb(33, 127, 221);
}

button:active{
    background-color:rgb(204, 230, 255);
}

.detail,.detail1{
    padding:10px;
    text-align:center;
}
form{
    text-align: center;
}

.name,.temp
{font-size: 40px;
 text-align: center;
 text-transform: uppercase;   
 color: white;
}
    

.name{
    border-bottom: solid 2px #ddd;
    padding: 0 0 5px;
    font-weight: bold;
    }

.info{
    display: inline;
    color: thistle;
}
.advance{
    padding: 10px;
    color:white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.description{
    font-size: 20px;
    text-transform: uppercase;
}
.col-sm{
    font-size: 15px;
    padding:5px;
    color:white;
    margin:5px;
    font-weight:bold;
}




